
   body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    /* line-height: 20px; */
    color: #333;
    background-color: #fff; 
    /* padding-left: 20px;
    padding-right: 20px; */
}
 
  .page-context-header {
    overflow: hidden; 
}
.page-context-header .page-header-headings, .page-context-header .header-button-group {
    position: relative;
    line-height: 24px;
    vertical-align: middle;
}
.page-context-header .page-header-headings {
    margin-top: 30px;
    margin-bottom: 10px;
}
headings {
    display: block;
    position: relative;
}
.page-header-headings {
    color: white;
    margin-left: 20px;
}
#page-header {
    background-color: #043257;
    padding: 5px 0 5px 5px;
    
    /* margin-left: px;*/
    margin-right: 0px;
    width: 100%; 
}
#page {
    padding-top: 45px;
}
/* __________page_________ */
#page-content {
    margin-top: 10px;
}
/* @media (max-width: 767px)
.row-fluid {
    width: 100%;
}
@media (max-width: 767px)
.row-fluid {
    width: 100%;
} */
.row-fluid {
    width: 100%;
}
*, ::after, ::before {
    box-sizing: border-box;
}

div {
    display: block;
}
.content-only #region-main-box, .content-only #region-main {
    width: 100%;
}
.row-fluid [class*="span"]:first-child {
    margin-left: 0;
}
#maincontent {
    display: block;
    height: 1px;
    overflow: hidden;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.row:before, .row:after {
    display: table;
    content: "";
    line-height: 0;
}
h2 {
    font-size: 28px;
}
a {
    color: #0a0a0a !important;
    text-decoration: none;
    background-color: transparent;
}
hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
}

.row:after {
    clear: both;
}

@media (max-width: 767px){
.row {
    margin-left: 0;
}}
@media (max-width: 767px){
[class*="span"], .row-fluid [class*="span"] {
    float: none;
    display: block;}
}

/* element.style { */

@media (max-width: 767px) { 
    div[role=main]
    {
    margin-bottom: 1em;
}
}
/* 
@media (max-width: 767px)
.row-fluid [class*="offset"]:first-child {
    margin-left: 0;
}
@media (max-width: 767px)
.row-fluid [class*="offset"]:first-child {
    margin-left: 0;
} */
.offset-1 {
    margin-left: 8.333333%;
 }/*
@media (max-width: 767px)
.container-fluid {
    padding: 0;
} */